@page "/AddAdult"
@using Assignment1.Data
@using Models
@inject IAdultService Persistence
@inject NavigationManager NavigationManager

<h3>Add adult</h3>

<label>Fill in all of the fields</label>
<EditForm Model="@adultToAdd" OnValidSubmit="@AddNewAdult">
    <DataAnnotationsValidator/>
    <ValidationSummary/>
    <div class="form-group">
        First name:<br/>
        <InputText @bind-Value="adultToAdd.FirstName"/>
    </div>
    <div class="form-group">
        Last name:<br/>
        <InputText @bind-Value="adultToAdd.LastName"/>
    </div>
    <div class="form-group">
        Job title:<br/>
        <InputText @bind-Value="adultToAdd.JobTitle"/>
    </div>
    
    <div class="form-group">
        Monthly salary:<br/>
        <InputNumber @bind-Value="adultToAdd.MonthlySalary"/>
    </div>
    
    <div class="form-group">
        Hair color:<br/>
        <InputText @bind-Value="adultToAdd.HairColor"/>
    </div>
    <div class="form-group">
        Eye color:<br/>
        <InputText @bind-Value="adultToAdd.EyeColor"/>
    </div>
    <div class="form-group">
        Age:<br/>
        <InputNumber @bind-Value="adultToAdd.Age"/>
    </div>
    <div class="form-group">
        Weight:<br/>
        <InputNumber @bind-Value="adultToAdd.Weight"/>
    </div>
    <div class="form-group">
        Height:<br/>
        <InputNumber @bind-Value="adultToAdd.Height"/>
    </div>
    <div class="form-group">
        Sex:<br/>
        <InputSelect @bind-Value="adultToAdd.Sex">
            <option value="">Select sex ...</option>
            <option value="M">Male</option>
            <option value="F">Female</option>
        </InputSelect>
    </div>
    <p class="actions">
        <button class="btn btn-outline-dark" type="submit">Create</button>
    </p>
</EditForm>

@code {
    private Adult adultToAdd = new Adult();
    private string errorLabel;

    private void AddNewAdult()
    {
        Console.WriteLine("I am here--------");
        Persistence.AddAdult(adultToAdd);
        NavigationManager.NavigateTo("/ViewAdults");
    }
}